In [174]:
#przewidujemy tutaj wartosc kategoryczna (credit_risk = 0 lub 1)
#wiec uzyje tutaj uczenia maszynowego nadzorowanego i klasyfikacji 
#konkretnie - model klasyfikacji ze zmienna wynikowa binarną

In [175]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from imblearn.metrics import specificity_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay

In [176]:
#tu sprawdzam gdzie uploadowac csv
import os
print(os.getcwd())
os.listdir()

C:\Users\gozde

['-1.14-windows.xml',
 '.cache',
 '.dbus-keyrings',
 '.docker',
 '.gitconfig',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.ms-ad',
 '.ssh',
 '.VirtualBox',
 'ansel',
 'AppData',
 'atlas_python_bootcamp',
 'Biblioteka calibre',
 'binary_clasification_results.csv',
 'bootcamp_project',
 'Computer Vision BootCamp ATLAS.ipynb',
 'Contacts',
 'Cookies',
 'Dane aplikacji',
 'Desktop',
 'Documents',
 'Downloads',
 'DT_confusion_matrix.png',
 'Favorites',
 'Links',
 'maxima',
 'Menu Start',
 'Moje dokumenty',
 'Music',
 'NB_confusion_matrix.png',
 'NetHood',
 'Nowy dokument 1.2024_07_11_09_11_32.0.svg',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{9abcbb4f-a1bf-11ed-9e0d-e8fb1ca1fe34}.TM.blf',
 'NTUSER.DAT{9abcbb4f-a1bf-11ed-9e0d-e8fb1ca1fe34}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{9abcbb4f-a1bf-11ed-9e0d-e8fb1ca1fe34}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'RF_confusion_matrix.png',
 'Saved Games',
 'Searches',
 'SendTo',
 'SVM_confusion_matrix.png',
 'Szablony',
 'Untitled.ipynb',
 'untitled.md',
 'Untitled1.ipynb',
 'Ustawienia lokalne',
 'Videos',
 'VirtualBox VMs',
 'XGBC_confusion_matrix.png']

In [177]:
#wgrywam dane
data = pd.read_csv('bootcamp_project/data_atlas_clean.csv')
data.head()

,Unnamed: 0,V1,age,income,children,credit_history,overdue_payments,active_loans,years_in_job,employment_type,owns_property,assets_value,other_loans,education,city,marital_status,support_indicator,credit_risk
0,1,0,44,15689,0,dobra,0,2,9,samozatrudnienie,nie,0.0,1,wyższe,małe,M,0.178131,0
1,2,1,38,18906,4,brak,0,0,1,stała,tak,62965.0,0,średnie,średnie,S,0.370480,0
2,3,2,46,16338,2,brak,0,2,4,brak,tak,124967.0,0,podstawowe,duże,M,0.712334,0
3,4,3,55,23276,3,dobra,1,2,10,stała,tak,52147.0,1,średnie,małe,S,0.665050,0
4,5,4,37,40000,1,brak,0,1,9,określona,nie,33957.0,1,wyższe,małe,S,0.607151,0

In [178]:
#sprawdzam braki
data.isnull().sum()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         10000 non-null  int64
 1   V1                 10000 non-null  int64
 2   age                10000 non-null  int64
 3   income             10000 non-null  int64
 4   children           10000 non-null  int64
 5   credit_history     10000 non-null  object
 6   overdue_payments   10000 non-null  int64
 7   active_loans       10000 non-null  int64
 8   years_in_job       10000 non-null  int64
 9   employment_type    10000 non-null  object
 10  owns_property      10000 non-null  object
 11  assets_value       10000 non-null  float64
 12  other_loans        10000 non-null  int64
 13  education          10000 non-null  object
 14  city               10000 non-null  object
 15  marital_status     10000 non-null  object
 16  support_indicator  10000 non-null  float64
 17  credit_risk        10000 non-null  int64
dtypes: float64(2), int64(10), object(6)
memory usage: 1.4+ MB

In [195]:
#zrobię one-hot encoding żeby odpowiednio zakodowac kategoryczne zmienne
one_hot_data = pd.get_dummies(data, columns = ['overdue_payments', 'credit_history', 'employment_type', 'owns_property', 'education', 'city', 'marital_status'])
one_hot_data.tail()

,Unnamed: 0,V1,age,income,children,active_loans,years_in_job,assets_value,other_loans,support_indicator,...,owns_property_tak,education_podstawowe,education_wyższe,education_średnie,city_duże,city_małe,city_średnie,marital_status_D,marital_status_M,marital_status_S
9995,9996,9995,53,26739,3,1,14,28518.0,1,0.188688,...,True,False,False,True,False,True,False,False,True,False
9996,9997,9996,20,40000,1,0,10,0.0,0,0.443980,...,False,False,False,True,True,False,False,False,True,False
9997,9998,9997,32,26613,2,1,11,27826.0,0,0.154086,...,False,True,False,False,True,False,False,False,True,False
9998,9999,9998,44,40000,1,0,8,62710.0,0,0.179365,...,True,False,False,True,False,True,False,False,False,True
9999,10000,9999,46,9799,0,0,12,0.0,0,0.560483,...,False,False,False,True,False,False,True,False,False,True

In [196]:
#dziele dane na zbior uczacy i testowy
X = one_hot_data.drop('credit_risk', axis =1)
y = one_hot_data['credit_risk']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=24)

In [197]:
#najpierw stworzę model drzewa deycyzyjnego 
dt_one_hot_model = DecisionTreeClassifier()
dt_one_hot_model.fit(X_train, y_train)
y_pred_dt_onehot_model = dt_one_hot_model.predict(X_test)

In [198]:
##teraz las losowy
rf_model = RandomForestClassifier()

rf_model.fit(X_train, y_train)

y_pred_rf = rf_model.predict(X_test)

In [199]:
#maszynę wektór nośnych svm
svm_model = SVC()

svm_model.fit(X_train, y_train)

y_pred_svm = svm_model.predict(X_test)

In [200]:
#naiwny klasyfikator bayesa
nb_model = GaussianNB()

nb_model.fit(X_train, y_train)

y_pred_nb = nb_model.predict(X_test)

In [201]:
#xgboost
xgbc_model = XGBClassifier()

xgbc_model.fit(X_train, y_train)

y_pred_xgbc = xgbc_model.predict(X_test)

In [202]:
#teraz sprawdze miary jakosci dopasowania modelu
#accuracy (dokładność) tj odestek poprawnie zaklasyfikowanych obserwacji, accuracy_score(y_true, y_pred)
#czułość (recall) - stosunek true positive do positive, reacll_score()
#swoistośc (specificity) - true neagitve / negative, specificity_score()

In [203]:
#zdefiniuje sobie funkcję ktora to wszystko policzy

def model_metrics(y_true, y_pred):
    accuracy = round(accuracy_score(y_true, y_pred),2)
    recall = round(recall_score(y_true, y_pred),2)
    specificity = round(specificity_score(y_true, y_pred),2)
    return accuracy, recall, specificity

In [204]:
#robię słowniczek, klucz to nazwa modelu, wartosc - to, co dany model przewidzial dla naszych danych
model_slownik = {'DT': y_pred_dt_onehot_model, 'RF': y_pred_rf, 'SVM': y_pred_svm, 'NB': y_pred_nb, 'XGBC': y_pred_xgbc}

In [205]:
#lista na wyniki:
results = []

#pętelką sprawdzam każdą miarę w każdym modelu i zapisuje do results
for model, y_pred in model_slownik.items():
    accuracy, recall, specificity = model_metrics(y_test, y_pred)
    results.append({
        'Model': model,
        'Accuracy': accuracy,
        'Recall': recall,
        'Specificity': specificity        
    })

In [206]:
pd.DataFrame(results)

  Model  Accuracy  Recall  Specificity
0    DT      0.99    0.88         0.99
1    RF      1.00    0.84         1.00
2   SVM      0.97    0.00         1.00
3    NB      0.97    0.00         1.00
4  XGBC      0.99    0.83         1.00

In [207]:
#deifnicja funkcji którą od razu narysuje dla wszystkich modeli macierze błędów i zapisze pliki na moim komputerze
#tak żebym mogła potem dodać je do opracowania
def plot_conmat(y_test, y_pred, title, filename):

    #najpierw tworzy nowa macierz pomyłek
    cm = confusion_matrix(y_test, y_pred)
    
    #tworzy rysunek macierzy i go wyświetla
    cm_display = ConfusionMatrixDisplay(confusion_matrix = cm)
    cm_display.plot(cmap=plt.cm.Blues)
    plt.title(title)
    # Zapisuje wykres do pliku
    plt.savefig(filename)
    plt.close()  # Zamknij wykres, aby nie był nadpisywany przy kolejnych iteracjach
    plt.show() #ywsietlenie go tutaj

path_name = r'C:\moje\IAD\bootcamp_py\projekt_bootcamp\conf_matrix' # w tej zmiennej ustwaiam sobie sciezke do folderu w ktorym chce to zapisac

#teraz w pętli wywołam ją dla wszystkich modeli po kolei, i od razu wszystkie zapiszę do odpowiednio ponumerowanych plików
for model, y_pred in model_slownik.items():
    filename = os.path.join(path_name, f'{model}_confusion_matrix.png')  # Zapisz macierz błędów do pliku o nazwie odpowiadającej modelowi, na sciezce
    plot_conmat(y_test, y_pred, title=f'Macierz błędów modelu: {model}', filename=filename)

In [194]:
#tutaj zapisuje do csv oceny modeli z klasyfikacji binarnej
results_df = pd.DataFrame(results)
results_df.to_csv('binary_clasification_results.csv', index=False)

In [209]:
#tutaj zapisuje sobie dane z one hot encoding do csv
one_hot_data.to_csv('one_hot_data_atlas.csv', index=False)